[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt = yes
[req_distinguished_name]
countryName = Country Name
countryName_default                 = Ameroppa
stateOrProvinceName = State
stateOrProvinceName_default         = High Charity
localityName = City
localityName_default               = Mausoleum of the Arbiter
organizationName = Organization
organizationName_default           = teamRokuro
commonName = Common Name
commonName_default                 = 127.0.0.1
[req_ext]
subjectAltName = @alt_names
[alt_names]
DNS.1   = 127.0.0.1
DNS.2   = localhost